@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-image: url("bg2.png");
    /* background-color: #121212; */
    color: #fffccf;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px); /* Adjust height to accommodate header and footer */
}

#login-section {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background-color: #0b013b;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
}

.center-heading {
    font-size: 3em;
    margin-bottom: 20px;
}

#login-form .form-group {
    margin-bottom: 15px;
    text-align: left;
    
}

#login-form label {
    display: block;
    margin-bottom: 5px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0d004b;
    color: #fffccf;
    font-size: 1em;
}

#login-form button {
    font-family: "Cormorant Garamond", serif;
    background-color: #0b013b;
    color: #fffccf;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px solid gold;
}

#login-form button:hover {
    color: #f8ffc2; /* Neon color */
    text-shadow: 0 0 5px #f8ffc2, 0 0 10px #f8ffc2, 0 0 20px #f8ffc2, 0 0 40px #f8ffc2, 0 0 80px #f8ffc2;
    animation: neonGlow 1.5s infinite alternate;
}

@keyframes neonGlow {
    from {
        text-shadow: 0 0 5px #f8ffc2, 0 0 10px #f8ffc2, 0 0 20px #f8ffc2, 0 0 40px #f8ffc2, 0 0 80px #f8ffc2;
    }
    to {
        text-shadow: 0 0 10px #f8ffc2, 0 0 20px #f8ffc2, 0 0 30px #f8ffc2, 0 0 50px #f8ffc2, 0 0 100px #f8ffc2;
    }
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
