@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-image: url("bg2.png");
    color: #fffccf;
}


main {
    flex: 1;

    align-items: center;
    padding: 20px;

    min-height: calc(100vh - 150px); /* Adjust the value according to your footer's height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#update-section {
    background-color: #0d004b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    width: 100%;
    border: 1px solid gold;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #fffccf;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;

    border-radius: 15px;
    background-color: #0b013b;
    color: #fffccf;
    /* transition: background-color 0.3s ease; */
    cursor: pointer;
    border: 1px solid gold;
}

button:hover {
    color: #f8ffc2; /* Neon color */
            text-shadow: 0 0 5px #f8ffc2, 0 0 10px #f8ffc2, 0 0 20px #f8ffc2, 0 0 40px #f8ffc2, 0 0 80px #f8ffc2;
            animation: neonGlow 1.5s infinite alternate;
}

@keyframes neonGlow {
    from {
        text-shadow: 0 0 5px #f8ffc2, 0 0 10px #f8ffc2, 0 0 20px #f8ffc2, 0 0 40px #f8ffc2, 0 0 80px #f8ffc2;
    }
    to {
        text-shadow: 0 0 10px #f8ffc2, 0 0 20px #f8ffc2, 0 0 30px #f8ffc2, 0 0 50px #f8ffc2, 0 0 100px #f8ffc2;
    }
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

#search-results {
    margin-top: 10px;
    text-align: left;
}

#search-results div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    cursor: pointer;
}

#search-results div:hover {
    background-color: #f0f0f0;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

